comp -questa

#rtlc -xrtl is default

rtlc -partition_module_rtl bus_if
rtlc -partition_module_rtl gpio_if
rtlc -partition_module_rtl bidirect_bus_slave
rtlc -partition_module_xrtl bidirect_bus_shared_pkg
rtlc -partition_module_xrtl bidirect_bus_driver_bfm
rtlc -partition_module_xrtl top_hdl

rtlc -compile_display
    
#rtlc -auto_clk_bind is default

velsyn -D1S
#velsyn -AllowUpDownPodSymmetry

#velsyn -Dump e50 long_paths.dump
#velsyn -SrND -Mm 10
#velcc -optim freq
#velgs -crit -dti
#velsyn -disableSoftVw
